<html>
    <head>
        <title>Home</title>
        <style>
            .title {
                display: flex;
                justify-content: center;
            }
            .upload-box{
                margin: auto;
                border: 1px solid black;
                width: 80%;
                height: 500px;
            }
        </style>
    </head>

    <body>
        <h3 class="title">Drop your files here</h3>
        <div class="upload-box" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)"></div>
    </body>

    <script>
        let uploadBox = document.getElementsByClassName("upload-box")[0]
        let dropHandler = (e) => {
            e.preventDefault()
            console.log("files dropped!!!!")

            
        }

        let dragoverHandler = (e) => {
            e.preventDefault()
        }

    </script>
</html>