<html>
    <head>
        <title>Home</title>
        <style>
            .title {
                display: flex;
                justify-content: center;
            }
            .upload-box{
                margin: auto;
                border: 1px solid black;
                width: 80%;
                height: 500px;
            }
        </style>
    </head>

    <body>
        <h3 class="title">Drop your files here</h3>
        <div class="upload-box" ondrop="dropHandler(event)" ondragover="dragoverHandler(event)"></div>
    </body>

    <script>
        let uploadBox = document.getElementsByClassName("upload-box")[0]
        let dropHandler = (e) => {
            e.preventDefault()
            let formData = new FormData()

            if (e.dataTransfer.items) {
                [...e.dataTransfer.items].forEach((item, i) => {
                    // If dropped items aren't files, reject them
                    if (item.kind === "file") {
                        const file = item.getAsFile();
                        formData.append('files', file)
                    }
                });
            } else {
                console.log("does not exist")
                alert("no file found")
            }

            fetch("http://localhost:8080/upload", {
                method: 'POST',
                body: formData,
            })
            .then((response) => response.json())
            .then((data) => console.log(data))
            .catch((error) => console.log("Error: ", error));
        }

        let dragoverHandler = (e) => {
            e.preventDefault()
        }

    </script>
</html>